<?xml version="1.0" encoding="utf-8"?>
<installer-script minSpecVersion="1.000000" authoringTool="com.apple.PackageMaker" authoringToolVersion="3.0.1" authoringToolBuild="172">
    <title>Biblical Hebrew Keyboards</title>
    <options customize="allow" allow-external-scripts="no" rootVolumeOnly="true"/>
    <domains enable_localSystem="true" enable_currentUserHome="true"/>
    <welcome language="en" mime-type="text/rtf"><![CDATA[{\rtf1\ansi\ansicpg1252\cocoartf949\cocoasubrtf330
{\fonttbl\f0\fnil\fcharset0 LucidaGrande;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural\pardirnatural

\f0\fs26 \cf0 Welcome to the Biblical Hebew Keyboards Installer v1.1.\
\
These keyboards have been designed to assist in typing text for Biblical Hebrew.  Unlike keyboards for modern Hebrew, they have been desiged for easy access for diacritical marks, including vowels and cantilation marks.  They may be used with any Unicode-compatible fonts that contain the Hebrew character set, but they are designed espicially for use with SBL Hebrew.   \
\
This will program will install the 2 Biblical Hebrew keyboards, one based on the SIL layout, and the other based on the Tiro layout.  \
\
Documentation for the keyboards, as well as the SBL Hebrew font, may be found at the SBL website, www.sbl-site.org.}]]></welcome>
    <readme language="en" mime-type="text/rtf"><![CDATA[{\rtf1\ansi\ansicpg1252\cocoartf949\cocoasubrtf330
{\fonttbl\f0\fnil\fcharset0 LucidaGrande;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural\pardirnatural

\f0\fs26 \cf0 PLEASE READ:\
By default, fonts will be installed into the /Library/Keyboard Layouts folder, where they will be accessible to all users of the the system.  \
If you wish to install the keyboards so that they will only be available to the current user, click Change Install Location in the Installation Type screen, and select "Install for me only."\
\
AFTER INSTALLATION\
PLEASE EITHER LOGOUT OR RESTART YOUR COMPUTER AFTER THE INSTALL IS FINISHED.  After logging back in, the Biblical Hebrew keyboards must be enabled through the International pane of the System Preferences, the in the Input Menu.   The option "Show input menu in menu bar" should be checked.  Keyboards are available in the Input Menu.  Biblical Hebrew will appear in the list.  Any desired keyboard should be checked.  After they have been enabled there, they will be accessible in the upper right corner of the of the menu bar.  The Tiro keyboard icon is an alef, while the SIL keyboard icon is an alef with a blue diamond.\
Any questions, comments, or error reports should be emailed to christopher.hooker@sbl-site.org.\
\
\'a9 Society of Biblical Literature, 2008}]]></readme>
    <conclusion language="en" mime-type="text/rtf"><![CDATA[{\rtf1\ansi\ansicpg1252\cocoartf949\cocoasubrtf330
{\fonttbl\f0\fnil\fcharset0 LucidaGrande;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural\pardirnatural

\f0\fs26 \cf0 IMPORTANT: \
PLEASE LOG OUT OR RESTART YOUR COMPUTER AFTER CLICKING FINISH.  After logging back in, please remember to enable the keyboards and the input menu in the menu bar through the International area of the System Preferences.  \
Please visit the SBL website, www.sbl-site.org, for updates to the fonts, keyboards, and FAQs.  Documentation, including printable layouts for the keyboards, is available in the form of manuals for the keyboards and font.\
Please email any problems or feedback to christopher.hooker@sbl-site.org.}]]></conclusion>
    <choices-outline>
        <line choice="choice0"/>
        <line choice="choice1"/>
        <line choice="choice2"/>
        <line choice="choice3"/>
    </choices-outline>
    <choice id="choice0" title="Biblical Hebrew - SIL icon">
        <pkg-ref id="com.SBL.biblicalHebrewKeyboards.biblicalHebrewSil-1.pkg"/>
    </choice>
    <choice id="choice1" title="Biblical Hebrew - SIL keyboard">
        <pkg-ref id="com.SBL.biblicalHebrewKeyboards.biblicalHebrewSil.pkg"/>
    </choice>
    <choice id="choice2" title="Biblical Hebrew - Tiro icon">
        <pkg-ref id="com.SBL.biblicalHebrewKeyboards.biblicalHebrewTiro-1.pkg"/>
    </choice>
    <choice id="choice3" title="Biblical Hebrew - Tiro keyboard">
        <pkg-ref id="com.SBL.biblicalHebrewKeyboards.biblicalHebrewTiro.pkg"/>
    </choice>
    <pkg-ref id="com.SBL.biblicalHebrewKeyboards.biblicalHebrewSil-1.pkg" installKBytes="32" version="1" auth="Root">file:./Contents/Packages/biblicalHebrewSil-1.pkg</pkg-ref>
    <pkg-ref id="com.SBL.biblicalHebrewKeyboards.biblicalHebrewSil.pkg" installKBytes="4" version="1" auth="Root">file:./Contents/Packages/biblicalHebrewSil.pkg</pkg-ref>
    <pkg-ref id="com.SBL.biblicalHebrewKeyboards.biblicalHebrewTiro-1.pkg" installKBytes="32" version="1" auth="Root">file:./Contents/Packages/biblicalHebrewTiro-1.pkg</pkg-ref>
    <pkg-ref id="com.SBL.biblicalHebrewKeyboards.biblicalHebrewTiro.pkg" installKBytes="4" version="1" auth="Root">file:./Contents/Packages/biblicalHebrewTiro.pkg</pkg-ref>
</installer-script>